body {
    background-color: aqua;
}

h1 {
    color: blueviolet;
    font-size: 5rem;
    text-align: center;
    margin: 20px;
}

h2 {
    color: blue;
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}

button {
    font-size: 2.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

button:hover {
    background-color: lightblue;
}

p {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}